<!DOCTYPE html>
<html>

<head>
    <base target="_self" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html;charset=GBK" />
    <title></title>
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/theme-chalk/index.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.1/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.0/index.min.js"></script>
    <script src="config.js"></script>
    <script src="index.js"></script>
</head>

<body class="main">
    <div class="condition">
        <el-select v-model="stock" placeholder="请选择代码">
            <el-option v-for="item in stocks" :key="item[0]" :label="item[1]" :value="item[0]"></el-option>
        </el-select>

        <el-select v-model="period" placeholder="请选择周期">
            <el-option v-for="item in periods" :key="item[0]" :label="item[1]" :value="item[0]"></el-option>
        </el-select>

        <el-button type="danger" plain @click="search">确定</el-button>
    </div>
    <div id="chart" class="chart"></div>
</body>

</html>